node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example

# runtime state written by server/template-library.ts
src/data/n8n-templates/.metadata.json
